.App {
  width: 65%;
  margin: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
#parents {
  width: 100%;
}

#wraptag {
  width: 100%;
}

#title {
  width: inherit;
  box-sizing : border-box;
  margin: 15px 0;
  padding-top: 7px;
  padding-bottom: 7px;
  border: 1px solid rgb(201, 199, 199) ;
  border-radius: 3px;
}

.tablelist {
  width: 100%;
  border : 1px solid black;
}

.tablelist td, th {
  border-collapse : collapse;
  border : 1px solid black;
}

.titleST {
  width: 70%;
}

.btn {
  float: right;
  margin: 15px 0;
}